<h1>Editing issue</h1>

<% form_for(@issue) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :publish_on %><br />
    <%= f.date_select :publish_on %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @issue %> |
<%= link_to 'Back', issues_path %>
