<h1>New newspaper</h1>

<% form_for(@newspaper) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :periodicity %><br />
    <%= f.text_field :periodicity %>
  </p>
  <p>
    <%= f.label :destination_scope %><br />
    <%= f.text_field :destination_scope %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', newspapers_path %>
